.sectionTitle {
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 20px;
    color: #333;
    text-align: center;
}

.serviceTypeSection {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}