.celebrationsItemWrapper {
    .celebrationsItem {
        display: flex;
        justify-content: space-between;
    }
    .priceMin {
        font-size: 12px;
        font-weight: 900;
    }
    .priceMax {
        font-size: 10px;
        text-decoration: line-through;
        color: grey;
    }
    ul {
        padding: 12px;
    }
    .celebration-compact-main {
        display: flex;
        gap: 14px;
        font-size: 13px;
        width: 100%;
        justify-content: space-between;
        padding: 5px 0;
        border-bottom: 1px dotted #eee;
    }
}

