.notFoundMessage {
    text-align: center;
    width: 100%;
    text-transform: uppercase;
    color: #ec430d;
    font-size: 18px;
    font-weight: 900;
    margin-top: 50%;
}

.bulkItemsSection {
    padding: 5px;
    display: flex;
    flex-direction: column;
}