.wrapper {
    padding: 55px 0 0;
}

.isFooter {
    padding-bottom: 20%;
}

@media screen and (min-width: 30em) and (orientation: landscape) {
    .wrapper {
        width: 50%;
        margin: auto;
        padding: 3% 5%;
        box-sizing: border-box;
    }
    .isFooter {
        padding-bottom: 5%;
    }
}