$app-bg-color: #f4f4f9;
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300..700&display=swap');

body {
  margin: 0;
  font-family: Lato, sans-serif;  
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: $app-bg-color;
}

.pageDescSection {
  position: relative;
  padding: 5px;
  background: rgba(236, 67, 13, 0.05);
  border-bottom: 1px dashed rgba(236, 67, 13, 0.2);
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.1);
  header {
      text-align: center;
      font-family: Fredoka;
      h1 {
          font-size: 16px;
          font-weight: 500;
          margin-bottom: 0;
      }
      p {
          font-size: 12px;
      }
  }
}


